
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    background: radial-gradient(#0288d1, #01579b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.msgButton {
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem 1.875rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
}

.msgButton:hover {
    opacity: 0.7;
}

.msgBadge {
    background-color: #4caf50;
    padding: 0.3rem 0.6rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
}