@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');
@layer generalMain, headerLayer, toggler, cardLayer, sliderLayer, dblCards;

@layer generalMain {
    body {
        box-sizing: border-box;
    }
    
    body {
        background-color: rgba(233, 223, 255, 1);
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        color: #2c2c2c;
    }
    
    main.mainContent {
        width: 100%;
        max-width: 900px;
    }
}
@layer headerLayer {
    h1 {
        color: rgb(83, 49, 156);
        text-align: center;
    }
    
    section.mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2c2c2c;
        padding: 1rem 0;
        border-radius: 25px;
        background-color: #fcfcfc;
        position: relative;
    
    }
    
    ul.planList {
        display: flex;
        width: 100%;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        justify-content: space-around;
        list-style-type: none;
    }
    
    ul.planList li a {
        text-decoration: none;
        color: rgba(200, 175, 255, 1);
    }
    
    ul.planList li a:hover {
        color: rgba(83, 49, 156, 1);
    }
    
    ul.planList li a#teamPlan {
        color: rgba(83, 49, 156, 1);
        position: relative;
    }
    
    ul.planList li a#teamPlan::before {
        content: "";
        width: 200%;
        height: 3px;
        background-color: rgba(83, 49, 156, 1);
        border-radius: 10px;
        position: absolute;
        left: -50%;
        bottom: -21px;
        z-index: 1;
    
    }
    
    div.crossLine {
        height: 3px;
        width: 100%;
        background-color: rgba(231, 231, 231, 1);
        position: absolute;
        top: 4.5rem;
    }
}

@layer toggler {
    .paymentWrapper {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
    }

    .paymentWrapper img {
        height: 40px;
        margin: 0 1rem;
    }

    .toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(83, 49, 156, 1);
        width: 140px;
        height: 2rem;
        border-radius: 20px;
        padding: 0 .25rem 0 2rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .toggle span.activePayment {
        color: #fcfcfc;
    }

    .toggle span:not(.activePayment) {
        color: rgba(83, 49, 156, 1);
        background-color: #fcfcfc;
        padding: 0.25rem 1rem;
        border-radius: 20px;
    }
}

@layer cardLayer {
    .cardContainer {
        width: 55%;
        border-radius: 20px;
        background-color: rgba(233, 223, 255, 1);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-top: 2rem;
        font-size: 0.8rem;
    }

    .cardContainer p.periodPricing {
        padding: 0;
        margin: 0;
        font-size: 4rem;
    }

    .cardContainer P:first-of-type {
        text-transform: uppercase;
        font-weight: bold;
        color: #2c2c2c;
    }

    .descriptionPara {
        padding: 1rem 2rem;
        line-height: 2rem;
        letter-spacing: 0.2px;
    }
}

@layer sliderLayer {
    .slider {
        width: 95%;
        position: relative;
    }

    .slider .bar {
        width: 100%;
        height: 1rem;
        background-color: rgba(248, 248, 248, 1);
        border: 1px solid rgba(210, 210, 210, 1);
        border-radius: 20px;
    }

    .slider .progress {
        width: 31%;
        height: 1.125rem;
        background: linear-gradient(
            90deg, 
            rgba(2,0,36,1) 0%, 
            rgba(9,9,121,1) 35%, 
            rgba(0,212,255,1) 100%
        );
        border-radius: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .slider .point {
        width: 24px;
        height: 24px;
        background-color: rgb(2,0,36);
        border-radius: 50%;
        border: 3px solid #fcfcfc;
        position: absolute;
        left: 29%;
        top: -0.33rem;
        transition: 0.15s transform ease;
    }

    .slider .point:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    .scale {
        width: 100%;
    }

    .scale ul {
        padding-left: 0;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: rgba(166, 166, 166, 1);
        text-transform: uppercase;
    }
}

@layer dblCards {
    .cardWrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .cardWrapper .card {
        background-color: rgba(233, 223, 255, 1);
        border-radius: 20px;
        margin: 2rem;
        padding: 1rem 2rem;
        box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.3);
        text-align: center;
        font-weight: bold;
        transition: 0.15s tranform ease-out;
        position: relative;
    }

    .cardWrapper .card:hover {
        transform: translateY(-0.5rem);
    }

    .cardWrapper .card .saveUp::before {
        content: "save up to 16%";
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5rem 0;
        color: #fcfcfc;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,97,121,1) 65%, rgba(0,212,255,1) 100%);
        position: absolute;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        top: -1.5rem;
        left: 0;
    }

    .card > div {
        padding: 0.5rem 0;
    }

    .card hr {
        width: 30%;
        border: 1px solid rgb(210, 210, 210);
        border-radius: 20px;    
    }

    .card > div p {
        margin: 0.5rem 0;
        text-transform: uppercase;
    }

    .card .price {
        font-size: 3.25rem;
        color: #2c2c2c;
    }

    .card button {
        border: none;
        border-radius: 10px;
        background-color:  rgb(83, 49, 156);
        padding: 1rem 1rem;
        margin: 0.5rem;
        color: #fcfcfc;
        font-weight: bold;
        text-transform: capitalize;
        transition: 0.15s transform ease-out;
    }

    .card button:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}