@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@layer generalLayer, navbarLayer, mainLayer;


@layer generalLayer {
    body {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
}

@layer navbarLayer {
    .navContainer {
        display: flex;
        justify-content: space-between;
        padding: 4rem 0;
        max-width: 90%;
        margin: 0 auto;
        border: 1px solid red;
    }

    .navContainer h1,
    .navContainer h2 {
        display: inline;
        font-size: 2rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    .navBar {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navBar a {
        text-decoration: none;
        color: black;
    }

    .navBar a:hover {
        text-decoration: underline;
    }

    .navBar img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@layer mainLayer {
    .galleryContainer {
        width: 90%;
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            "headline headline sideImg"
            "headline headline sideLong"
            "secImg thirdImg sideLong"
            "fourImg secHL secHL"
            "fourImg secHL secHL"
            "sixImg sixImg sevenImg"
            "sixImg sixImg sevenImg";
        gap: 0.875rem;
    }

    #eth {grid-area: headline;}
    #alphabet {grid-area: sideImg;}
    #traveler {grid-area: sideLong;}
    #cube {grid-area: secImg;}
    #astro {grid-area: thirdImg;}
    #cup {grid-area: fourImg;}
    #insta {grid-area: secHL;}
    #foam {grid-area: sixImg;}
    #dimensional {grid-area: sevenImg;}

    .imgBox {
        position: relative;
    }

    .imgBox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    .imgBox .overlay {
        background-color: hsla(0, 0%, 100%, 0.1);
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.25rem;
        letter-spacing: 2px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: 0.3s transform ease;
    }

    .imgBox .overlay:hover {
        cursor: pointer;
        opacity: 1;
    }

    #astro .overlay,
    #insta .overlay,
    #dimensional .overlay {
        color: white;
    }

    @media only screen and (max-width: 1100px) {
        .galleryContainer {
            display: grid;
            max-width: 100%;
            grid-template-areas:
                "headline headline"
                "sideImg sideLong"
                "secImg thirdImg"
                "secHL secHL"
                "secHL secHL"
                "fourImg sixImg"
                "sevenImg sevenImg";
        }
    }
    
    @media only screen and (max-width: 768px) {
        .galleryContainer {
            display: grid;
            max-width: 100%;
            grid-template-areas:
                "headline headline"
                "sideImg sideImg"
                "sideLong sideLong"
                "secImg thirdImg"
                "secHL secHL"
                "secHL secHL"
                "fourImg fourImg"
                "sixImg sixImg"
                "sevenImg sevenImg";
        }
    
        .imgBox .overlay {
            font-size: 1.5rem;
        }
    }
}

