@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;600;700&display=swap');
@layer topMost, generalSetup, navBar, heroContent, mainContent;

@layer topMost {
    *,
    *::before,
    *::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    }

    html,
    body {
    width: 100%;
    }

    main {
        margin: var(--spacing-lg);
    }

    :root {

        --standard-width: 1280px;

        --text-dark: #121212;
        --text-light: #ececec;
        --text-grey: #adbdcc;
        --main-font: 'Anek Telugu', sans-serif;
        --heading-font: 'Roboto', sans-serif;
        --h1-size: 6rem;
        --h1-height: 7rem;
        --h2-size: calc(var(--h1-size) - 1rem);
        --h2-height: calc(var(--h1-height) - 2rem);
        --h3-size: calc(var(--h1-size) - 2rem);
        --h4-size: calc(var(--h1-size) - 3rem);
        --h5-size: calc(var(--h1-size) - 4rem);
        --h6-size: calc(var(--h1-size) - 5rem);
        --subtitle-size: calc(1rem + 2px);
        --subtitle-height: calc(1.5rem + 2px);
        --p-size: calc(1rem + 4px);
        --p-height: calc(1.5rem + 4px);
        --secondary-text-size: .875rem;
        --secondary-text-height: 1.125rem;

        --purple-1: #6962f7;
        --purple-2: #7000ff;
        --blue-1: #00d4ff;
        --primary-accent: #0a2540;
        --bg-white: white;
        --bg-light: #f7f9fc;


        --spacing-sm: .5rem;
        --spacing-md: 1rem;
        --spacing-lg: 2rem;
        --spacing-xl: 4rem;

        --primary-btn-hover-color: #6d7a88;
        --btn-font-size: 1rem;

        --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    }
}

@layer generalSetup {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--main-font);
        font-weight: 400;
        color: var(--text-dark);
        padding: var(--spacing-sm) 0 0 0;
    }

    h1 {
        font-family: var(--heading-font);
        font-weight: 600;
        font-size: var(--h1-size);
        line-height: var(--h1-height);
        margin: 0;
        width: 100%;
        letter-spacing: -1px;
    }

    h2 {
        font-family: var(--heading-font);
        font-weight: 600;
        font-size: var(--h3-size);
        margin: 0;
        width: 100%;
    }

    h3 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h3-size);
        margin: 0;
        width: 100%;
    }

    h4 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h4-size);
        margin: 0;
        width: 100%;
        letter-spacing: .25px;
    }

    h5 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h5-size);
        margin: 0;
        width: 100%;
    }

    h6 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h6-size);
        margin: 0;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: var(--purple-1);
        font-weight: 500;
        transition: color .25s ease;
    }

    a:hover {
        color: var(--primary-accent);
    }

    p {
        font-size: var(--p-size);
        line-height: var(--p-height);
        margin: var(--spacing-sm) 0;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
    }

    .card .icon {
        height: 50px;
        margin: 0 0 var(--spacing-sm) 0;
    }

    .card h3 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h6-size);
        margin: 0;
        width: 100%;
    }

    .subtitle,
    .subtitle2 {
        color: var(--purple-1);
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--subtitle-size);
        line-height: var(--subtitle-height);
    }

    .subtitle2 {
        color: var(--blue-1);
    }

    .secondary-text {
        font-size: var(--secondary-text-size);
        line-height: var(--secondary-text-height);
        color: var(--text-grey);
        letter-spacing: .25px;
    }

    .primary-button {
        font-family: var(--main-font);
        font-size: var(--btn-font-size);
        letter-spacing: 1.25px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        background-color: var(--primary-accent);
        color: var(--text-light);
        padding: var(--spacing-sm) var(--spacing-sm);
        text-transform: capitalize;
        transition: all 0.15s ease;
    }

    .primary-button:hover {
        background-color: var(--primary-btn-hover-color);
        cursor: pointer;
    }

    .secondary-button {
        font-family: var(--main-font);
        font-size: var(--btn-font-size);
        letter-spacing: 1.25px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        background-color: transparent;
        color: var(--primary-accent);
        text-transform: capitalize;
        transition: all 0.15s ease;
    }

    .secondary-button:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .with-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .with-icon > img {
        transition: transform 0.25s ease;
    }

    .with-icon:hover > img{
        transform: translateX(5px);
    }
}

@layer navBar {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: var(--standard-width);
        padding: 0 var(--spacing-md);
    }

    .menu {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
    }

    .menu a {
        color: var(--text-light);
        margin: 0 var(--spacing-md);
        font-weight: bold;
    }

    .menu a:hover {
        text-decoration: underline;
    }

    .navbar-button {
        background-color: rgba(250, 250, 250, 0.25);
    }

    .navbar-button:hover {
        background-color: rgba(250, 250, 250, 0.5);
    }
}

@layer heroContent {
    .button-container {
        display: flex;
        margin: var(--spacing-md) 0;
    }

    .button-container button:nth-of-type(2) {
        margin-left: 1.25rem;
        color: var(--purple-2);
    }

    .hero p {
        max-width: 480px;
    }

    .hero .hero-phone-container {
        height: 564px;
        align-items: flex-end;
    }

    .hero-phone {
        height: 628px;
        transform: translate(32px, -32px);
    }
}

@layer mainContent {
    .section-container {
        width: 100%;
        max-width: var(--standard-width);
    }

    .two-column {
        width: 100%;
        display: flex;
        font-display: row;
        justify-content: center;
        align-items: center;
    }

    .two-column > .col-left {
        width: 50%;
        padding: 0 var(--spacing-md) 0 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .two-column > .col-right {
        width: 50%;
        padding: 0 0 0 var(--spacing-md);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    /* Partners Section */
    .partners-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: var(--spacing-xl) 0;
        column-gap: var(--spacing-md);
        row-gap: var(--spacing-lg);
    }

    .partners-grid img {
        height: 60px;
        place-self: center;
    }

    /* Unified Platform Section */
    .unified-platform-section {
        padding: var(--spacing-xl) 0;
    }
    
    .unified-platform-section h2 {
        width: 50%;
        margin-bottom: var(--spacing-md);
    }
    
    .unified-platform-section .primary-button {
        background-color: var(--purple-1);
        margin: var(--spacing-md) 0;
    }
    
    .unified-platform-section .primary-button:hover {
        background-color: var(--primary-accent);
    }

    /* Credict Card Dash Section */
    .graphic-grid {
        display: grid;
        grid-template-areas: 
        "card slack slack"
        "phone slack slack"
        "phone dash dash";
        grid-gap: var(--spacing-lg);
        padding: var(--spacing-lg) 0;
    }
    
    #credit-card {grid-area: card; width: 100%; box-shadow: var(--standard-box-shadow);}
    #slack-invoice {grid-area: slack; width: 100%; box-shadow: var(--standard-box-shadow);}
    #phone {grid-area: phone; width: 100%; box-shadow: var(--standard-box-shadow);}
    #dash {grid-area: dash; width: 100%; box-shadow: var(--standard-box-shadow);}

    /* Integrations Section */
    .integrations-section {
        color: var(--text-light);
        background-color: var(--primary-accent);
    }

    .integrations-section .primary-button {
        background-color: var(--blue-1);
        color: var(--primary-accent);
        margin: var(--spacing-lg) 0 0 0;
    }

    .integrations-section .primary-button:hover {
        background-color: var(--bg-white);
    }

    .integrations-section .card-container {
        display: flex;
        margin: var(--spacing-lg) 0;
    }

    .integrations-section .card-container .card {
        width: 50%;
    }

    .integrations-section .secondary-button {
        color: var(--blue-1);
    }

    #api-code,
    #terminal-code {
        max-width: 470px;
        border-radius: 20px;
    }

    #api-code {
        margin: 0 0 var(--spacing-md) 0;
    }
}

