@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;600;700&display=swap');
@layer topMost, generalSetup, interativeComponent;

@layer topMost {
    *,
    *::before,
    *::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    }

    html,
    body {
    height: 100vh;
    width: 100%;
    }

    :root {
        --text-dark: #121212;
        --text-light: #ececec;
        --text-grey: #adbdcc;
        --main-font: 'Anek Telugu', sans-serif;
        --heading-font: 'Roboto', sans-serif;
        --h1-size: 6rem;
        --h1-height: 7rem;
        --h2-size: calc(var(--h1-size) - 1rem);
        --h2-height: calc(var(--h1-height) - 2rem);
        --h3-size: calc(var(--h1-size) - 2rem);
        --h4-size: calc(var(--h1-size) - 3rem);
        --h5-size: calc(var(--h1-size) - 4rem);
        --h6-size: calc(var(--h1-size) - 5rem);
        --subtitle-size: calc(1rem + 2px);
        --subtitle-height: calc(1.5rem + 2px);
        --p-size: calc(1rem + 4px);
        --p-height: calc(1.5rem + 4px);
        --secondary-text-size: .875rem;
        --secondary-text-height: 1.125rem;

        --purple-1: #6962f7;
        --purple-2: #7000ff;
        --blue-1: #00d4ff;
        --primary-accent: #0a2540;
        --bg-white: white;
        --bg-light: #f7f9fc;


        --spacing-sm: .5rem;
        --spacing-md: 1rem;
        --spacing-lg: 2rem;
        --spacing-xl: 4rem;

        --primary-btn-hover-color: #6d7a88;
        --btn-font-size: 1rem;
    }
}

@layer generalSetup {
    body {
        font-family: var(--main-font);
        font-weight: 400;
        color: var(--text-dark);
        padding: var(--spacing-sm) 0 0 0;
    }

    h1 {
        font-family: var(--heading-font);
        font-weight: 600;
        font-size: var(--h1-size);
        line-height: var(--h1-height);
        margin: 0;
        width: 100%;
        letter-spacing: -1px;
    }

    h2 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h2-size);
        line-height: var(--h2-height);
        margin: 0;
        width: 100%;
        letter-spacing: -0.25px;
    }

    h3 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h3-size);
        margin: 0;
        width: 100%;
    }

    h4 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h4-size);
        margin: 0;
        width: 100%;
        letter-spacing: .25px;
    }

    h5 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h5-size);
        margin: 0;
        width: 100%;
    }

    h6 {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--h6-size);
        margin: 0;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: var(--purple-1);
        font-weight: 500;
        transition: color .25s ease;
    }

    a:hover {
        color: var(--primary-accent);
    }

    p {
        font-size: var(--p-size);
        line-height: var(--p-height);
        margin: var(--spacing-sm) 0;
    }

    .subtitle,
    .subtitle2 {
        color: var(--purple-1);
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: var(--subtitle-size);
        line-height: var(--subtitle-height);
    }

    .subtitle2 {
        color: var(--blue-1);
    }

    .secondary-text {
        font-size: var(--secondary-text-size);
        line-height: var(--secondary-text-height);
        color: var(--text-grey);
        letter-spacing: .25px;
    }
}

@layer interativeComponent {
    .primary-button {
        font-family: var(--main-font);
        font-size: var(--btn-font-size);
        letter-spacing: 1.25px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        background-color: var(--primary-accent);
        color: var(--text-light);
        padding: var(--spacing-sm) var(--spacing-md);
        transition: all 0.15s ease;
    }

    .primary-button:hover {
        background-color: var(--primary-btn-hover-color);
        cursor: pointer;
    }

    .secondary-button {
        font-family: var(--main-font);
        font-size: var(--btn-font-size);
        letter-spacing: 1.25px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        background-color: transparent;
        color: var(--primary-accent);
        transition: all 0.15s ease;
    }

    .secondary-button:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}



