h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 6rem;
}
.container {
  border: 4px solid black;
  width: 1200px;
  margin: 40px auto;
  justify-content: flex-end;
  display: flex;
}

.box {
  width: 150px;
  height: 150px;
  font-size: 4rem;
  text-align: center;
}
