h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 6rem;
}
.container {
  border: 4px solid black;
  width: 1300px;
  height: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.box {
  width: 300px;
  height: 240px;
  font-size: 4rem;
  text-align: center;
}
