h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 6rem;
}
.container {
  border: 4px solid black;
  width: 70%;
  height: 1500px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.sidebar {
  background-color: palevioletred;
  flex-basis: 200px;
  /* flex-shrink: 1; */
}

p {
  background-color: darkseagreen;
  margin: 0;
  /* width: 500px; */
  flex-basis: 500px;
  /* flex-grow: 1; */
}
