h1 {
  font-size: 3rem;
}

/* @media only print {
  h1 {
    font-size: 10rem;
  }
} */

body {
  background-color: red;
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: yellow;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-color: orange;
  }
}
