.container {
  height: 700px;
  width: 80%;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
  display: grid;
  grid-template-columns: minmax(500px, 2fr) minmax(500px, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template: 1fr 1fr 1fr / 1fr 2fr; */
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
