.container {
  height: 700px;
  width: 80%;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
  display: grid;
  /* grid-template-columns: repeat(5, minmax(100px, 250px)); */
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template: repeat(2, 1fr) / repeat(5, minmax(100px, 250px)); */
  grid-template-columns: fit-content(300px) fit-content(300px) fit-content(
      300px
    );
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
