.container {
  /* height: 700px; */
  width: 800px;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgba(227, 183, 183, 0.2);
  display: grid;
  grid-template: repeat(2, 200px) / repeat(4, 200px);
  grid-auto-flow: row;
  grid-auto-rows: 200px;
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
