body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: tomato;
  height: 200px;
  width: 200px;
  animation: 2s move ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}

@keyframes move {
  0% {
    background-color: hotpink;
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
    background-color: olive;
  }
}
