:root {
  --brand-color: rgb(131, 188, 8);
  --standard-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

button {
  background-color: var(--brand-color);
}

h1 {
  color: var(--brand-color);
  display: inline-block;
  box-shadow: var(--standard-shadow);
}

div {
  border: 3px solid var(--brand-color);
  box-shadow: var(--standard-shadow);
}

@media screen and (max-width: 800px) {
  :root {
    --brand-color: rgb(161, 30, 197);
  }
}
