*,
*::before,
*::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* For Debugging Purpose As To Clearly See The Outline */
    border: solid;
}

body {
    height: 1200px;
}

.container {
    display: flex;
    justify-content: center;
}

.example {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 50px 0;
    background-color: hsla(211, 95%, 91%, 1);
}

.absolute {
    position: relative;
}

.item img {
    display: block;
    border: 4px dotted darkcyan;
}

.item-relative {
    position: relative;
    top: 30px;
    left: 30px;
}

.item-absolute {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.item-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

