*,
*::before,
*::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    height: 1200px;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(210, 3%, 37%, 1);
}

a:link,
a:visited {
    color: hsla(210, 3%, 37%, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 50px;
    background-color: hsla(211, 95%, 91%, 1);
}
.menu {
    margin-top: 15px;
}

.menu > li {
    display: inline;
    margin-right: 50px;
}

.menu >li:last-of-type {
    margin-right: 0;
}

.dropdown {
    position: relative;
}

.dropdown > span {
    z-index: 2;
    /* Only POSITIONED ELEMENT affected by Z-Index */
    /* Hence POSITION property is important on this */
    position: relative;
    cursor: pointer;
}


.dropdown:hover .features-menu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: hsla(211, 100%, 84%, 1);
    border-radius: 5px;
    padding-top: 60px;

    position: absolute;
    top: -25px;
    left: -30px;
}

.features-menu {
    display: none;
}

.features-menu li {
    list-style-type: none;
    border-bottom: 1px solid white;

    padding: 0 40px 10px 20px;
    margin: 10px;
}

.features-menu li:last-of-type {
    border-bottom: none;
}