*,
*::before,
*::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* For Debugging Purpose As To Clearly See The Outline */
    border: solid;
}

body {
    color: hsla(210, 3%, 37%, 1);
    background-color: hsla(209, 16%, 92%, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-form-header {
    text-align: center;
    background-color: hsla(210, 12%, 96%, 1);
    border: 1px solid hsla(210, 7%, 85%, 1);
    border-radius: 3px;

    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

.speaker-form-header h1 {
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.speaker-form {
    background-color: hsla(210, 12%, 96%, 1);
    border: 1px solid hsla(210, 7%, 85%, 1);
    border-radius: 3px;

    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: hsla(0, 0, 100%, 1);
    border: 1px solid hsla(210, 7%, 85%, 1);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 1.5rem;
}

.form-row label {
    margin-bottom: 15px;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
    border: 1px solid hsla(359, 59%, 59%, 1);
    color: hsla(359, 59%, 59%, 1);
    box-shadow: none;
}

.legacy-form-row {
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row legend {
    margin-left: -60px;
    margin-bottom: 15px;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 1.5rem;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type="radio"] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type="radio"] {
    float: left;
}

.form-row select {
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
}

.form-row textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

    border: 1px solid hsla(210, 7%, 85%, 1);
    border-radius: 3px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
}

.form-row .instructions {
    color: hsla(0, 0, 60%, 1);
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.form-row .checkbox-label {
    margin-bottom: 0;
}

.form-row button {
    font-size: 1rem;
    font-weight: bold;

    color: hsla(0, 0, 100%, 1);
    background-color: hsla(212, 63%, 60%, 1);

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: hsla(211, 76, 69, 1);
}

.form-row button:active {
    background-color: hsla(212, 54%, 51%, 1);
}

@media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form {
        width: 600px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .legacy-form-row {
        margin-bottom: 10px;
    }

    .legacy-form-row legend {
        width: 180px;
        text-align: right;
        padding-right: 20px;
    }

    .legacy-form-row legend {
        float: left;
    }

    .form-row .instructions {
        margin-left: 120px;
    }

    .form-row .checkbox-label {
        margin-left: 100px;
        width: auto;
    }

    .form-row button {
        margin-left: 120px;
    }
}
