*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

/* Elements, classes, IDs */
/* Groups of selectors */
/* Descendent selectors */
ul ul a {
    color: inherit;
}

/* Parent-child */
ul.nested > li {
    color: inherit;
}

/* Adjacent/general sibling */
ul.nested li ~ li {
    color: inherit;
}
/* Attribute selectors */
[href] {
    color: inherit;
}

/* Exact value of the attribute */
a[href*="???"] {
    color: inherit;
}


