/* for each of the below styles, calculate the specificity of each selector. Then explain why the text affected by the styles looks the way it does. */ 
/* 001 */
footer {
    color: pink;
  }
/* 011   */
  article.joe {
    color: brown;
  }
/* 012 */
  p:first-of-type + p {
    text-transform: uppercase;
  }
 /* 012 */
  p:nth-of-type(2) > sub {
    visibility: hidden;
  }
/* 002 */
  p::first-line {
    color: blue;
  }
/* 004 */
  h1::after, h1::before {
    content: ' ☕️ ';
  }
  /* 002 */
  sup::after {
    content: '😃';
  }
  
  p > sup {
    background-color: orange;
    font-weight: bold;
  }
  p:last-child {
    color: green;
  }
  
  
  
  
  /* basic styling, ignore */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }