:root {
    --grey: #999;
    --radius: 10px;
    --dark-purple: purple;
    /* Custom Prop Conflict */
}

figure {
    margin: 0;
    border: 1px solid var(--grey);
    border-radius: var(--radius);
}

img {
    border-radius: var(--radius) var(--radius) 0 0;
    max-width: 100%;
}

figcaption {
    padding: 0.5rem;
}

figure a:any-link {
    background-color: var(--dark-purple);
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: var(--radius);
    text-align: center;
}

a:hover {
    background-color: orchid;
    color: black;
}