body {
  background-color: #014f87;
}
p {
  color: magenta;
}

a {
  color: cyan;
  background-color: magenta;
}

h2 {
  color: orangered;
  background-color: olive;
}

h1 {
  color: teal;
  background-color: yellow;
}
