h1 {
  font-family: "Segoe UI", Futura, sans-serif;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 20px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-weight: bold;
  line-height: 2;
  word-spacing: 20px;
}

a {
  font-style: italic;
}
