body {
  font-family: Montserrat, sans-serif;
}

h1 {
  text-transform: uppercase;
  /* text-decoration-line: line-through;
  text-decoration-color: cyan;
  text-decoration-style: wavy; */
  /* text-decoration-thickness: 10px; */
  text-decoration: magenta line-through wavy 10px;
}

a {
  text-decoration: none;
}
