/* * {
  margin: 0;
  padding: 0;
} */

p {
  color: purple;
}

.tag {
  color: orange;
}

#featured {
  color: gold;
}

input[type="number"] {
  background-color: gold;
}

a[href*="wiki"] {
  color: cyan;
}

a[href^="#"] {
  color: darkviolet;
}
