h1 {
  /* border-width: 2px;
  border-color: gold;
  border-top-color: red;
  border-right-color: orange;
  border-bottom-color: yellow;
  border-left-color: green;
  border-style: solid;
  border-bottom-style: dotted; */
  border: 2px solid green;
  /* border-top-color: purple; */
  /* border-bottom: 3px dashed magenta; */
}
