body {
  font-family: Montserrat, sans-serif;
}
#featured {
  background-color: gold;
  font-size: 20px;
}
#reviews {
  text-decoration: gold underline;
}

.tag {
  text-decoration: none;
  background-color: black;
  color: white;
}
