/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: Merriweather, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

/* p {
  color: purple;
}

.tag {
  color: orange;
}

#featured {
  color: gold;
}

input[type="number"] {
  background-color: gold;
}

a[href*="wiki"] {
  color: cyan;
}

a[href^="#"] {
  color: darkviolet;
}

.score,
#featured,
.tag {
  color: white;
  background-color: orangered;
} */

/* #cast span {
  color: grey;
}

ol > li {
  border: 1px solid red;
} */

/* h2 ~ p {
  color: deeppink;
} */
/* h2 + p {
  color: deeppink;
} */

/* h2.score {
  color: blueviolet;
} */

.score:hover {
  color: orange;
}

input:placeholder-shown {
  background-color: red;
}

a:visited {
  color: olive;
}

/* li:last-of-type {
  border: 1px solid magenta;
} */

li:nth-of-type(2n) {
  border: 1px solid magenta;
}

button:active {
  background-color: pink;
}

input:focus {
  border: 5px solid green;
}

body :not(h1, h2, h3, h4, h5, h6) {
  border: 1px solid yellowgreen;
}
