:root {
    --topicColor: #463d36;
    --headlineColor: #a6192e;
    --mainFont: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--mainFont);
    color: var(--topicColor);
    background-color: var(--topicColor);
}

.cardContainer {
    width: 600px;
    border-radius: 25px;
    background-color: #eee;
    margin: 50px auto;
    padding: 40px;
}

.cardContainer h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-top: 0;
}

.cardContainer h2 {
    text-transform: uppercase;
    color: var(--headlineColor);
    margin-bottom: 0px;

    font-size: 1.75rem;
    font-weight: bold;
}

.cardContainer p {
    font-size: 1.75rem;
}

.cardContainer button {
    background-color: var(--topicColor);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px 40px;

}

