@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;700&display=swap');

*, 
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --mainFont: 'Cormorant', serif;
}

body {
    font-family: var(--mainFont);
    font-size: 20px;
}

header h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0 -8px 0 0;
}


nav.navContainer {
    display: inline-block;
    padding: 0;
} 
nav.navContainer li {
    display: inline-block;
    margin: 0.5rem 0.5rem;
    list-style: none;
}

nav.navContainer a {
    color: #333;
    text-decoration: none;
}

/* nav.navContainer ul li:first-child {
    border-bottom: 2px solid #333;
} */

a.activeLink {
    border-bottom: 2px solid #333;
}

.navbar {
    margin: 1.75rem;
}

