@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;700&display=swap');

*, 
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --mainFont: 'Cormorant', serif;
}

body {
    font-family: var(--mainFont);
    min-height: 100vh;
}

h3 {
    display: inline;
}

.navContainer {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.navContainer li {
    padding: 0.5rem 0.5rem;
}

li[class*=tHeader] a {
    text-decoration: none;
}

figure img {
    width: 450px;
    height: 250px;
}
