

/* Adding Reset */

*, 
*::after,
*::before {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
}

body {
    color: #eee;
    background-color: slateblue;
}

.mainContent {
    color: #333;
    background-color: #eee;
}

footer li {
    list-style: none;
}

footer li a {
    color: #eee;
}