@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Mukta:wght@300;400;500;700&display=swap');
@layer rootLayer, headerLayer, mainContent, footer;

@layer rootLayer {
    *, 
    *::after,
    *::before {
        box-sizing: border-box;
    }

    :root {
        --hFont: 'Bitter', serif;
        --pFont: 'Mukta', sans-serif;
    }
    
    html, 
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        color: #eee;
        background-color: slateblue;
        font-family: var(--pFont);
        font-size: 1rem;
        letter-spacing: 0.5px;
    }
}

@layer headerLayer {
    :is(h1, h2, h3, h4, h5, h6) {
        font-family: var(--hFont);    
    }

    header {
        width: 80%;
        margin: auto;
        padding: 1rem 1rem;
        text-align: center;
    }

    header h1 {
        font-size: 80px;
        font-weight: normal;
        letter-spacing: -1.5px;
    }

    header p {
        border-bottom: 1px solid #eee;
        padding-bottom: 3rem;
    }

    .timeStampHeader {
        text-align: center;
        font-weight: bold;
        padding: 1.5rem 0;
        letter-spacing: 1.5px;
        font-family: var(--hFont);
        font-weight: bold;
        font-size: 0.875rem;
    }
}

@layer mainContent {
    .mainContent {
        color: #333;
        background-color: #eee;
    }
    
    .topicSection,
    .topicSection ~ *{
        width: 80%;
        max-width: 800px;
        margin: auto;
        padding: 0 2rem;
    }

    .topicSection h2 {
        text-transform: capitalize;
        font-size: 4.125rem;
        font-weight: 500;
        letter-spacing: -0.5px;
    }

    .topicSection h2 +  p {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.125rem;
        letter-spacing: 0px;
        margin: 2.5rem 0;
    }

    .topicSection blockquote {
        border-left: 3px solid #e95400;
        margin: 2rem 1rem;
        padding: 0 1rem;
        font-style: italic;
        font-size: 0.875rem;
    }

    .topicSection blockquote cite {
        display: block;
        margin-left: 1rem;
        font-weight: bold;
    }

    .topicSection::after {
        content: hr;
    }

    .newSection h3,
    .newSection h4,
    .newSection h5,
    .newSection h6 {
        text-transform: capitalize;
        font-weight: 500;
    }

    .newSection h3 {
        font-size: 2.25rem;
        letter-spacing: 0px;
    }

    .newSection h4 {
        font-size: 1.875rem;
        letter-spacing: 0.25px;
    }

    .newSection h5 {
        font-size: 1.5rem;
        letter-spacing: 0.25px;
    }

    .newSection h6 {
        font-size: 1.25rem;
        letter-spacing: 0.25px;
    }

    .commonSection h3 {
        text-transform: capitalize;
    }
}

@layer footer {
    footer ul {
        width: 100%;
        max-width: 900px;
        margin: auto;
        padding: 1.875rem 0;
        text-align: center;
    }

    footer li {
        display: inline;
        list-style: none;
        padding: 0 1rem;
    }
    
    footer li a {
        color: #eee;
        text-decoration: none;
        margin: auto;
    }

    footer li a:hover {
        text-decoration: underline;
    }
}

/* General */
.timeStampHeader span,
code, 
abbr {
    color: #e95400;
    font-weight: bold;
}

.timeStampHeader span {
    text-transform: uppercase;
}



