@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@layer rootLayer, headerLayer, mainLayer, footerLayer;

@layer rootLayer {
    *, 
    *::after,
    *::before {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        font-family: 'Forum', serif;
    }
}

@layer headerLayer {
    header {
        background-color: #f08e80;
        min-height: 90vh;
        display: inline-block;
        color: #eee;
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.875rem 2rem;
    }
    
    header nav ul {
        list-style: none;
    }
    
    header nav ul li {
        display: inline-block;
        margin: 0 0.75rem;
    }
    
    header nav ul li a {
        color: #eee;
        text-decoration: none;
        font-size: 1.2rem;
    }
    
    header nav h3 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }
    
    header nav input[type=button] {
        background-color: #eee;
        color: #f08e80;
        padding: 1.125rem 2rem;
        border: 0px;
    }
    
    header nav input[type=button]:hover {
        opacity: 0.75;
    }

    .headerContainer {
        padding: 0 15%;
    }
    
    .headerContainer h1 {
        font-size: 3rem;
        font-weight: normal;
        letter-spacing: 2px;
        padding: 32px 0;
    }
    
    .headerContainer .colsContainer {
        font-size: 1.5rem;
    }
    
    .headerContainer .colsContainer p {
        width: 50%;
        float: left;
    }
    
    .headerContainer .colsContainer ul {
        list-style: none;
        width: 50%;
        float: left;
        padding: 0;
    }
    
    .headerContainer .colsContainer ul li {
        width: 50%;
        float: left;
        font-size: 1.25rem;
        padding: 0.5rem 0;
    }
}

@layer mainLayer {
    main .mainContent {
        min-height: 90vh;
        display: inline-block;
        padding: 4rem 0;
    }

    main .mainContent .colsContainer {
        padding: 0.5rem 15%;
    }

    .mainContent .colsContainer p:first-of-type {
        width: 50%;
        float: left;
        margin-top: 0.2rem;
    }

    
    .mainContent .colsContainer h2 {
        width: 50%;
        float: right;
        margin-top: 0;
    }


    .mainContent .colsContainer p:not(p:first-of-type) {
        width: 51%;
        float: right;
        padding-left: 1%;
        margin: 0;
    }

    .mainContent .colsContainer p:last-of-type {
        font-size: 0.8rem;
        color: hsla(0, 4%, 10%, 0.5);
        padding-top: 0.5rem;
    }

}

@layer footerLayer {

}