
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: radial-gradient(#0288d1, #01579b);
}

input[type="button"] {
    position: relative;
    margin: auto auto;
}