
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(darkcyan, purple);
}

.cardDemo {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: 0 2.5rem;
    display: flex;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.cardDemo footer {
    background-color: slateblue;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0.5rem;
}