@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');
@layer generalMain, headerLayer, toggler, cardLayer, sliderLayer;

@layer generalMain {
    body {
        box-sizing: border-box;
    }
    
    body {
        background-color: rgba(233, 223, 255, 1);
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        color: #2c2c2c;
    }
    
    main.mainContent {
        width: 100%;
        max-width: 900px;
    }
}
@layer headerLayer {
    h1 {
        color: rgb(83, 49, 156);
        text-align: center;
    }
    
    section.mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2c2c2c;
        padding: 1rem 0;
        border-radius: 25px;
        background-color: #fcfcfc;
        position: relative;
    
    }
    
    ul.planList {
        display: flex;
        width: 100%;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        justify-content: space-around;
        list-style-type: none;
    }
    
    ul.planList li a {
        text-decoration: none;
        color: rgba(200, 175, 255, 1);
    }
    
    ul.planList li a:hover {
        color: rgba(83, 49, 156, 1);
    }
    
    ul.planList li a#teamPlan {
        color: rgba(83, 49, 156, 1);
        position: relative;
    }
    
    ul.planList li a#teamPlan::before {
        content: "";
        width: 200%;
        height: 3px;
        background-color: rgba(83, 49, 156, 1);
        border-radius: 10px;
        position: absolute;
        left: -50%;
        bottom: -21px;
        z-index: 1;
    
    }
    
    div.crossLine {
        height: 3px;
        width: 100%;
        background-color: rgba(231, 231, 231, 1);
        position: absolute;
        top: 4.5rem;
    }
}

@layer toggler {
    .paymentWrapper {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
    }

    .paymentWrapper img {
        height: 40px;
        margin: 0 1rem;
    }

    .toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(83, 49, 156, 1);
        width: 140px;
        height: 2rem;
        border-radius: 20px;
        padding: 0 .25rem 0 2rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .toggle span.activePayment {
        color: #fcfcfc;
    }

    .toggle span:not(.activePayment) {
        color: rgba(83, 49, 156, 1);
        background-color: #fcfcfc;
        padding: 0.25rem 1rem;
        border-radius: 20px;
    }
}

@layer cardLayer {
    .cardContainer {
        width: 55%;
        border-radius: 20px;
        background-color: rgba(233, 223, 255, 1);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-top: 2rem;
        font-size: 0.8rem;
    }

    .cardContainer p.periodPricing {
        padding: 0;
        margin: 0;
        font-size: 4rem;
    }

    .cardContainer P:first-of-type {
        text-transform: uppercase;
        font-weight: bold;
        color: #2c2c2c;
    }

    .descriptionPara {
        padding: 1rem 2rem;
        line-height: 2rem;
        letter-spacing: 0.2px;
    }
}

@layer sliderLayer {
    .slider {
        width: 95%;

    }

    .slider .bar {
        width: 100%;
        height: 1rem;
        background-color: rgba(248, 248, 248, 1);
        border: 1px solid rgba(210, 210, 210, 1);
        border-radius: 20px;
    }

    .slider .progress {
        width: 30%;
        height: 1.125rem;
    }
}