@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');


body {
    background-color: rgba(233, 223, 255, 1);
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: rgb(83, 49, 156);
    text-align: center;
}

.mainContent {
    display: flex;
    justify-content: center;
}

ul.planList {
    display: flex;
    width: 60%;
    max-width: 960px;
    justify-content: space-around;
    border: 2px solid black;
    list-style-type: none;
}

ul.planList li a {
    text-decoration: none;
}