header>h1 {
    text-align: center;
}

main:first-child,
main:last-child {
    background-color: lightgreen;
    color: white;
}

section>h2 {
    font-family: Arial, Helvetica, sans-serif;
    
}

ul:first-child,
ol:first-child {
    color: cyan;
}

ol:last-child {
    text-decoration-line: line-through;
}