* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    height: 80vh;
    width: 900px;
    min-width: 80%;
    overflow: auto;
}


