* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0;
    gap: 10px;
    background-color: #333;
    align-items: stretch;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    padding: 10px;
}

img {
    min-width: 100%;
    border: 1px solid white;

}

.tall {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}
