* {
    box-sizing: border-box;
}

:root {
    --bkgd-hue: 0%;
    --bkgd-saturation: 0%;
    --bkgd-lightness: 90%;
    --border-lightness: calc(var(--bkgd-lightness) - 20%);
}

.btn {
    background: none;
    border: none;
    outline: none;
}

.btn {
    background-color: hsla(
        var(--bkgd-hue),
        var(--bkgd-saturation),
        var(--bkgd-lightness), 1);
    border: 1px solid hsla(        
        var(--bkgd-hue),
        var(--bkgd-saturation),
        var(--border-lightness), 1);
    outline: none;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
}

.btn:hover,
.btn:focus {
    background-color: hsla(0, 0%, 80%, 1);
    box-shadow: 0 0 5px 0 hsla(
        var(--bkgd-hue),
        var(--bkgd-saturation),
        var(--border-lightness), 1);

.btn.btn-primary {
    background-color: hsla(271, 70%, 50%, 1);
    border-color: hsla(271, 70%, 50%, 1);
    color: white;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: hsla(271, 70%, 40%, 1);
    box-shadow: 0 0 5px 0 hsla(271, 70%, 30%, 1);
}

.btn.btn-accent {
    background-color: hsla(200, 100%, 40%, 1);
    border-color: hsla(200, 100%, 20%, 1);
    color: white;
}

.btn.btn-accent:hover,
.btn.btn-accent:focus {
    background-color: hsla(200, 100%, 40%, 1);
    box-shadow: 0 0 5px 0 hsla(200, 100%,30%, 1);
}

.btn.btn-danger {
    background-color: hsla(0, 60%, 50%, 1);
    border-color: hsla(0, 60%, 30%, 1);
    color: white;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
    background-color: hsla(0, 60%, 40%, 1);
    box-shadow: 0 0 5px 0 hsla(0, 60%,30%, 1);
}

.btn.btn-large {
    font-size: 1.25rem;
}

.btn.btn-small {
    font-size: 0.5rem;
}

.btn.btn-pill {
    border-radius: 75%;
}

.btn.btn-custom {
    background: linear-gradient(to right, hsla(271, 70%, 50%, 1), hsla(200, 100%, 40%, 1));
    color: white;
    border-color: #222;
}

.btn.btn-custom:hover,
.btn.btn-custom:focus {
    background: linear-gradient(to right, hsla(271, 70%, 40%, 1), hsla(200, 100%, 30%, 1));
    border-color: black;
    box-shadow: 0 0 5px 0 black;
}