*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn {
    color: white;
    background-color: hsl(200, 100%, 50%);
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: .3em;
    cursor: pointer;
    position: relative;
}

.btn-load:focus::after {
    --default-tranform: translateY(200%);
    content: 'Loading';
    position: absolute;

    color: black;
    transform: var(--default-tranform);
    transform-origin: center;
    left: 0;
    bottom: 0;
    animation: loading 2s linear forwards;
}


@keyframes loading {
    0%{opacity: 1;}
    10%{content: 'Loading.';}
    20%{content: 'Loading..';}
    25%{transform: var(--default-tranform) rotate(30deg);}
    30%{content: 'Loading...';}
    40%{content: 'Loading..';}
    50%{content: 'Loading.';
        opacity: .6;
        transform: var(--default-tranform) rotate(0);
    }
    60%{content: 'Loading';}
    70%{content: 'Loading.';}
    75%{transform: var(--default-tranform) rotate(-30deg);}
    80%{content: 'Loading..';}
    90%{content: 'Loading...';}
    100%{content: 'Loaded';
        opacity: 1;
        transform: var(--default-tranform) rotate(0);
    }
}