
.nav-title {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 4.2rem 0 1.6rem;
    padding: 0 1rem;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  /* Accordion styles */
  .tabs {
    /* border-radius: 10px; */
    overflow: hidden;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png"),
      linear-gradient(
        240deg,
        rgba(164, 88, 255, 1) 0%,
        rgba(53, 68, 255, 1) 40%,
        rgba(10, 47, 158, 1) 80%
      );
    /*   background: white; */
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
  }
  
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
  }
  
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    /* background-image: url("https://www.transparenttextures.com/patterns/stardust.png"),
      linear-gradient(
        240deg,
        rgba(164, 88, 255, 1) 0%,
        rgba(53, 68, 255, 1) 40%,
        rgba(10, 47, 158, 1) 80%
      ); */
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Icon */
  .tab-label:hover {
    opacity: 0.8;
  }
  
 .tab-label:after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  
.tab-content {
    max-height: 0px;
    padding: 0 1em;
    /* color: #151025;
    background: white; */
    color: #efefef;
    transition: all 0.35s;
  }

  .tab-content ol,
  .tab-content ul {
    margin-left: 2rem;
    line-height: 2;
  }

  .tab-content li {
    counter-increment: step;
  }

  .tab-content li::before {
    content: counter(step);
    background: #101525;
    border-radius: 5px;
    padding: 0.5px;
    color: #efefef;
    transform: rotate(-10deg);
    left: -2.6em;
    font-size: 0.8em;
    line-height: 1.8em;
  }

  
  /* :checked */
  input:checked + .tab-label {
    background: rgba(10, 47, 158, 1);
  }
  
  input:checked + .tab-label:after {
    transform: rotate(90deg);
  }
  
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 2rem;
  }
  
  .main-section {
    min-height: 100vh;
    min-width: 100%;
    background: white;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
  }

  .navicon {
    color: #101525;
    left: 0.25rem;
    height: 3rem;
    position: fixed;
    top: 0.25rem;
    width: 3rem;
    z-index: 20;
    transform: rotate(90deg);
    transition: 0.3s all ease-in-out;
}

.navicon::before,
.navicon::after {
    background: transparent;
    border-bottom: 2px solid #101525;
    border-top: 1px solid #101525;
    content: '';
    height: 7px;
    position: fixed;
    left: .5rem;
    top: 1.25rem;
    width: 55%;
    transition: 0.3s all ease-in-out 0.3s;
}

.navicon::before {
    transform: rotate(90deg);
}

.navicon::after {
    left: 1.0625rem;
    transform: rotate(-90deg);
}

.nav-check {
    cursor: pointer;
    left: 0.25rem;
    height: 3rem;

    opacity: 0;
    position: fixed;
    top: 0.25rem;
    width: 3rem;
    z-index: 21;
    transition: 0.3s all ease-in-out;
}

.nav-check:checked + .navicon::before,
.nav-check:checked + .navicon::after {
    background: #101525;
    border: none;
    height: 2px;
    left: 0.6875rem;
    top: 1.5rem;
    transition: 0.3s all ease-in-out 0.3s;
}

.nav-check:checked + .navicon::before {
    transform: rotate(45deg);
}

.nav-check:checked + .navicon::after {
	transform: rotate(-45deg);
}