*,
*::before,
*::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* For Debugging Purpose As To Clearly See The Outline */
    border: solid;
}


p {
    max-width: 300px;
}

.tooltip-trigger {
    font-weight: bold;
    color: seagreen;
    text-decoration: none;;
    position: relative;
}

.tooltip {
    position: absolute;
    min-width: 150px;
    font-size: 0.875rem;
    color: black;
    padding: 8px;
    font-weight: normal;
}

