.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

/* Task 1 Making the Footer the Same Colour as Surronding Colours */
.footer a {
  color: inherit;
}