figure {
    padding: 8px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: min-content;
    padding: 1.1rem;
  }
  
  figure img {
    padding: 8px;
    margin-bottom: 8px;
  }
  
  figcaption {
    text-align: center;
    color: #666666;
    width: fit-content;
  }