*,
*::before,
*::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* For Debugging Purpose As To Clearly See The Outline */
    border: solid;
}

.box {
    height: 150px;
    margin: 64px;
    border: 4px solid palevioletred;
  }

  