*,
*::before,
*::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* For Debugging Purpose As To Clearly See The Outline */
    border: solid;
}

.tooltip-trigger {
    position: relative;
}

.tooltip {
    position: absolute;
    width: 150px;
    top: 100%;
    left: -8%;
    font-style: normal;
    background-color: hsla(0, 0%, 100%, 1);
    color: hsla(100, 100%, 0%, 1);
}