*,
*::before,
*::after {
    /* Override Browser Default CSS */
    margin: 0;
    padding: 0;
    /* Rendre Box Into Actual Box Size */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* For Debugging Purpose As To Clearly See The Outline */
    border: solid;
}

details.faq {
    font-size: 1rem;
    color: hsl(0deg 0% 25%);
    margin: 32px;
    border: 2px solid;
    border-radius: 4px;
  }
  details.faq summary {
    cursor: pointer;
    padding: 12px 16px;
    outline-offset: 5px;
  }
  details.faq .answer {
    background: hsl(0deg 0% 92.5%);
    border-radius: 0 0 4px 4px;
    padding: 12px 17px;
    font-style: italic;
  }
